%div.col
  %div.card
    %div.card-body
      %ul
        %li
          %b Amount:
          %span= bet.amount
        %li
          %b Bet:
          %span= bet.bet_type_name
        %li
          %b Status:
          %span= bet.status
