= form_with(model: game) do |form|
  - if game.errors.any?
    #error_explanation
      %h2
        = pluralize(game.errors.count, "error")
        prohibited this game from being saved:
      %ul
        - game.errors.each do |error|
          %li= error.full_message
  .actions
    = form.submit
